/* NavBar.module.css */
.navbar {

}


.navbarBrandImg {
  border-radius: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbarLinkContainer {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.navbarLink {
  color: #fff;
  font-weight: bold;

}

.navbarLink:hover {
  color: #9a978e;
}

.carousel {
  height: 10vh; /* Set the height of the Carousel explicitly */

}

.carousel-item {
  display: flex;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0 auto; /* Center the image horizontally within the Carousel item */
  object-fit: cover;
}